 <!-- Basic Form Start -->
 <div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd product-payment-inner-st">
                            <h1>Data Account</h1>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row" style="margin-top: 20px">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="product-payment-inner-st">
                                        <ul id="myTabedu1" appTabs class="tab-review-design">
                                            <li class="active">
                                                <a href="#all" style="font-weight: 300">Semua Akun</a>
                                            </li>
                                            <li>
                                                <a href="#add" style="font-weight: 300">{{ !isDetailActive? 'Tambah' : 'Detail' }} Akun</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content custom-product-edit">
                                            <div class="product-tab-list tab-pane fade active in bootstrap-table" id="all">
                                                <div class="fixed-table-container" style="margin-top: 20px">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <div class="th-inner">No.</div>
                                                                </th>
                                                                <th>
                                                                    <div class="th-inner">ID</div>
                                                                </th>
                                                                <th>
                                                                    <div class="th-inner">Nama</div>
                                                                </th>
                                                                <th>
                                                                    <div class="th-inner">Email</div>
                                                                </th>
                                                                <th style="width: 91px; text-align: center">
                                                                    <div class="th-inner">Action</div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let model of models; let i = index">
                                                                <td style="vertical-align: middle">{{ i + 1 }}</td>
                                                                <td style="vertical-align: middle">{{ model.id }}</td>
                                                                <td style="vertical-align: middle">{{ model.name }}</td>
                                                                <td style="vertical-align: middle">{{ model.email }}</td>
                                                                <td class="btn-group">
                                                                    <a (click)="beginEdit(model, i)" class="btn btn-default">
                                                                        <i class="fa fa-pencil-square"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="product-tab-list tab-pane fade" id="add">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="review-content-section">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="all-form-element-inner">
                                                                        <form method="post" enctype="multipart/form-data">
                                                                        <div class="form-group-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                        <label class="login2 pull-right pull-right-pro">ID Akun</label>
                                                                                    </div>
                                                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                                        <input type="text" name="id" class="form-control" placeholder="ID Akun"
                                                                                                [(ngModel)]="detailModel.id" [disabled]="isDetailActive"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                        <label class="login2 pull-right pull-right-pro">Nama Pemilik</label>
                                                                                    </div>
                                                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                                        <input type="text" name="name" class="form-control" placeholder="Nama Pemilik"
                                                                                                [(ngModel)]="detailModel.name" [disabled]="isDetailActive" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                        <label class="login2 pull-right pull-right-pro">Email Pemilik</label>
                                                                                    </div>
                                                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                                        <input type="text" name="email" class="form-control" placeholder="Email"
                                                                                                [(ngModel)]="detailModel.email" [disabled]="isDetailActive" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                        <label class="login2 pull-right pull-right-pro"> {{ !isDetailActive? 'Deposit Awal' : 'Tambah Deposit Baru' }}</label>
                                                                                    </div>
                                                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                                        <input type="text" name="deposit" class="form-control" [placeholder]="'Deposit ' + (!isDetailActive? 'Awal' : 'Baru')"
                                                                                                [(ngModel)]="depositModel.amount" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-3"></div>
                                                                                    <div class="col-lg-9">
                                                                                        <div class="login-horizental cancel-wp pull-right form-bc-ele btn-group">
                                                                                            <button class="btn btn-primary" type="button" style="background-color: #006df0; width: 100px"
                                                                                                    (click)="save()">
                                                                                                <i class="fa fa-check edu-warning-danger" aria-hidden="true"></i>
                                                                                                Simpan
                                                                                            </button>
                                                                                            <button class="btn btn-default" type="button" style="width: 100px"
                                                                                                    (click)="cancel()">
                                                                                                <i class="fa fa-times edu-warning-danger" aria-hidden="true"></i>
                                                                                                Batalkan
                                                                                            </button>
                                                                                            <!-- <button class="btn btn-primary" type="submit">Cetak</button> -->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" *ngIf="isDetailActive && detailModel.transactions">
                                                                <h4>History Deposit</h4>
                                                                <div class="fixed-table-container" style="margin-top: 20px">
                                                                    <table class="table" style="margin-bottom: 0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    <div class="th-inner">No.</div>
                                                                                </th>
                                                                                <th>
                                                                                    <div class="th-inner">Date</div>
                                                                                </th>
                                                                                <th>
                                                                                    <div class="th-inner">Deposit</div>
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let tr of detailModel.transactions; let k = index">
                                                                                <td style="vertical-align: middle">{{ k + 1 }}</td>
                                                                                <td style="vertical-align: middle">{{ tr.date | date }}</td>
                                                                                <td style="vertical-align: middle; text-align: right">Rp {{ tr.deposit | number }}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="2" style="vertical-align: middle; font-weight: 600; text-align: center">TOTAL</td>
                                                                                <td style="vertical-align: middle; text-align: right">Rp {{ detailModel | sum | number }}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic Form End-->
</div>