<!-- Basic Form Start -->
<div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="income-dashone-total reso-mg-b-30">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-edu-rate">
                                <h3 style="color: #166edb">
                                    <span class="counter">{{ count.accounts | number }}</span>
                                </h3>
                            </div>
                        </div>
                        <div class="income-range">
                            <p>Akun total</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="income-dashone-total reso-mg-b-30">
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-edu-rate">
                                <h3 style="color: #1fb055">
                                    <span class="counter">{{ count.transactions | number }}</span>
                                </h3>
                            </div>
                        </div>
                        <div class="income-range">
                            <p>Pemasukan</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px">
                <div class="tab-content-details shadow-reset">
                    <p>
                        Welcome home, Admin!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Basic Form End-->
