<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header" style="padding: 20px">
            <a href="/" style="font-size: 36px">
                TNIS
            </a>
            <strong>
                <a href="/">
                    TN
                </a>
            </strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Home" routerLink="/" routerLinkActive="active" 
                            [routerLinkActiveOptions]="{ 'exact': true }">
                            <span class="educate-icon educate-home icon-wrap sub-icon-mg" 
                                    aria-hidden="true">
                                </span> 
                            <span class="mini-click-non">
                                Home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Category" routerLink="/accounts" routerLinkActive="active">
                            <span class="educate-icon educate-course icon-wrap sub-icon-mg" 
                                aria-hidden="true">
                            </span> 
                            <span class="mini-click-non">
                                Account List
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <!-- End Left menu area -->
</div>
